body {
    background-color: #e6f8e1;
}

.column{
    float: left;
    width: 33%
}


#button1{
    background-color: #cae6d5;
    border: none;
    color: green;
    padding: 20px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
}
#button2{
    background-color: #cae6d5;
    border: none;
    color: green;
    padding: 20px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;

}
#display, #reaffirmation{
    color: green;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font: bold 16px/1.5 Helvetica, Verdana, sans-serif;
}
#water{
    color:blue;
    font-size: 35px;
}
#dates{
    color:red;
    font-size: 20px;
}

.slideshow-container {
    height: 250px;
    width: 250px;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 15s;
}

@keyframes fade {
    from {opacity: 5} 
    to {opacity: 15}
}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}
